/.build
/common.ini
/development.ini
/production.ini
/test.ini
/c2corg_api/scripts/migration/migration.ini
/apache/app-c2corg_api.wsgi
/apache/wsgi.conf
/MANIFEST
*.pyc
*.egg-info
/.idea
.noseids
Dockerfile
