/.build
/common.ini
/development.ini
/production.ini
/test.ini
/alembic.ini
/c2corg_api/scripts/migration/migration.ini
/c2corg_api/scripts/loadtests/loadtests.ini
/apache/app-c2corg_api.wsgi
/apache/wsgi.conf
/MANIFEST
*.pyc
*.egg-info
/.idea
/.vscode
.noseids
/env_api
/venv
*.swp
config/docker
.coverage
coverage.xml
/config/env.local
