services:
  postgresql:
    image: postgis/postgis:16-3.4
    container_name: postgresql
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test
      POSTGRES_HOST_AUTH_METHOD: "trust"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/conf/postgresql.conf:/etc/postgresql.conf
      - .:/v6_api
    command: ["postgres", "-c", "config_file=/etc/postgresql.conf"]

  elasticsearch:
    image: "docker.io/c2corg/c2corg_es:anon-2018-11-02"
    ports:
      - "9200:9200"
    command: -Des.index.number_of_replicas=0 -Des.path.data=/c2corg_anon -Des.script.inline=true
    ulimits:
      nofile:
        soft: 65536
        hard: 65536

  redis:
    image: redis:7.2
    ports:
      - "6379:6379"

volumes:
  postgres_data:
