alembic==0.8.8
apscheduler==3.2.0
bcrypt==3.1.1
colander==1.7
elasticsearch==2.3.0
elasticsearch_dsl==2.0.0
geoalchemy2==0.4.0
geojson==1.3.3
geomet==0.1.1
kombu==4.0.0
# phpserialize is only required during the migration
phpserialize==1.3.0
psycopg2==2.7.3.2
pyproj==1.9.5.1
pyramid-jwtauth==0.1.3
pyramid==1.7.3
pyramid_debugtoolbar==3.0.5
pyramid_mailer==0.14.1
pyramid_tm==1.0.1
python-json-logger==0.1.5
python-slugify==1.2.4
redis==3.5.3
requests==2.20.1
setuptools==28.8.0
Shapely==1.6.1
SQLAlchemy==1.1.3
transaction==1.6.1
waitress==1.0.1
zope.sqlalchemy==0.7.7
# gunicorn and related dependencies
gunicorn==19.6.0
eventlet==0.20.0
gevent==1.2a2
gaiohttp-websocket==0.1.1

# dogpile.cache
# needs: https://bitbucket.org/zzzeek/dogpile.cache/pull-requests/58
git+https://github.com/c2corg/dogpile.cache.git@get_or_create_multi_should_cache

# ColanderAlchemy>=0.3.2
# needed for ColanderAlchemy: https://github.com/stefanofontanelli/ColanderAlchemy/pull/90
# + #91
git+https://github.com/tsauerwein/ColanderAlchemy.git@c2corg

# Cornice>1.2.1
# needs: https://github.com/mozilla-services/cornice/pull/359
git+https://github.com/tsauerwein/cornice.git@nested-none-2.1.0-c2corg

# c2c_markdown repo...
git+https://github.com/c2corg/c2c_markdown.git@4c337e2

# c2corg_common project
# for development use a local checkout
# -e ../v6_common
git+https://github.com/c2corg/v6_common.git@941efe9
# Discourse API client
https://github.com/c2corg/pydiscourse/archive/ea03a3a.zip

-e .
