--index-url http://pypi.camptocamp.net/pypi
-e git+https://github.com/camptocamp/pyramid_closure#egg=pyramid_closure

# needed for Cornice: https://github.com/mozilla-services/cornice/pull/309
git+https://github.com/mozilla-services/cornice.git

-e .
