--index-url http://pypi.camptocamp.net/pypi
-e git+https://github.com/camptocamp/pyramid_closure#egg=pyramid_closure

# needed for ColanderAlchemy: https://github.com/stefanofontanelli/ColanderAlchemy/pull/90
# + #91
git+https://github.com/tsauerwein/ColanderAlchemy.git@c2corg

-e .
