#!/bin/sh

# If you want to override some environment variables, 
# you just have to copy and paste this file into env.local.old
#
# Then reload your env with "make load-env"

# This is for working locally on a dev machine, connecting to docker version of postgres/redis/elastic search
version=0.0.0dev0
tests_db_host=localhost
db_host=localhost
tests_elasticsearch_host=localhost
elasticsearch_host=localhost
redis_url=redis://localhost:6379/
